#*
.python-environments
anaconda-mode
auto-save-list
elpa
*.eld
recentf*
*~
session.*
.cache
host-machine-config.el
.last-package-update-day
eshell
quelpa
TAGS
.lsp-session*
el-get
tramp
transient
.dap-breakpoints
straight
.extension